/* screen - bio */

.-style {
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 199px;
  letter-spacing: 0.00px;
}
.aboutnalssam {
  font-family: "AppleSDGothicNeo-Light", Helvetica, Arial, serif;
  font-size: 27px;
  letter-spacing: -1.73px;
}
.aboutthenalssam {
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 14px;
  letter-spacing: 0.00px;
}
.and {
  font-family: "AppleSDGothicNeo-SemiBold", Helvetica, Arial, serif;
  font-size: 36px;
  letter-spacing: 0.00px;
}
.asd {
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 28px;
  letter-spacing: 0.00px;
}
.asdfad {
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 18px;
  letter-spacing: 0.00px;
}
.bio {
  background-color: var(--white);
  height: 4679px;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}
.bio .a-stair-bplant-box-kxhp4v {
  background-color: transparent;
  color: var(--white);
  font-weight: 700;
  height: auto;
  left: 525px;
  line-height: 43px;
  position: absolute;
  text-align: left;
  top: 211px;
  width: auto;
}
.bio .bar-SHDHHB {
  background-color: transparent;
  height: 137px;
  margin: 80px 0 0 0;
  position: relative;
  width: 1440px;
}
.bio .bio-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-weight: 600;
  height: auto;
  left: 380px;
  line-height: 19px;
  position: absolute;
  text-align: center;
  top: 1116px;
  width: auto;
}
.bio .bio-zUixHA {
  background-color: transparent;
  color: var(--black);
  font-weight: 500;
  height: auto;
  left: 13px;
  line-height: 29px;
  position: absolute;
  text-align: left;
  top: 280px;
  width: auto;
}
.bio .button-RyCdLg {
  background-color: var(--caribbean-green);
  height: 24px;
  left: 196px;
  position: absolute;
  top: 171px;
  width: 75px;
}
.bio .button-dIx87p {
  background-color: var(--caribbean-green);
  height: 24px;
  left: 1067px;
  position: absolute;
  top: 15px;
  width: 123px;
}
.bio .footer-fNGuiB {
  background-color: var(--eerie-black);
  height: 137px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1440px;
}
.bio .g-slave-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-weight: 600;
  height: auto;
  left: 256px;
  line-height: 19px;
  position: absolute;
  text-align: left;
  top: 67px;
  white-space: nowrap;
  width: auto;
}
.bio .group-15-SHDHHB {
  background: radial-gradient(96% 195%, #D4005D 96%, #F7B500 100%);
  background-color: transparent;
  border-radius: 39px;
  height: 681px;
  margin: 0;
  position: relative;
  width: 1071px;
}
.bio .group-2-C61RwL {
  background-color: transparent;
  height: 1430px;
  left: 247px;
  position: absolute;
  top: 2186px;
  width: 947px;
}
.bio .group-i7hrr4 {
  background-color: transparent;
  height: 18px;
  left: 861px;
  position: absolute;
  top: 92px;
  width: 338px;
}
.bio .hr-PZ5l3E {
  background-color: var(--tundora-2);
  height: 1px;
  left: 247px;
  position: absolute;
  top: 39px;
  width: 947px;
}
.bio .hr-dIx87p {
  background-color: var(--mine-shaft);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 52px;
  width: 1440px;
}
.bio .hr-i7hrr4 {
  background-color: var(--tundora-2);
  height: 1px;
  left: 247px;
  position: absolute;
  top: 83px;
  width: 947px;
}
.bio .line-5-GE0XEQ {
  background-color: transparent;
  height: 4px;
  left: 0px;
  position: absolute;
  top: 1015px;
  width: 944px;
}
.bio .line-5-kTiyrb {
  background-color: transparent;
  height: 4px;
  left: 1px;
  position: absolute;
  top: 430px;
  width: 944px;
}
.bio .line-5-sdxwGy {
  background-color: transparent;
  height: 4px;
  left: 3px;
  position: absolute;
  top: 705px;
  width: 944px;
}
.bio .line-5-zUixHA {
  background-color: transparent;
  height: 4px;
  left: 0px;
  position: absolute;
  top: 155px;
  width: 944px;
}
.bio .nalssam-PZ5l3E {
  background-color: transparent;
  color: var(--sonic-silver);
  font-weight: 400;
  height: auto;
  left: 1029px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 57px;
  white-space: nowrap;
  width: auto;
}
.bio .nalssam-UOcbxe {
  background-color: transparent;
  color: var(--white);
  font-weight: 800;
  height: auto;
  left: 248px;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: 18px;
  white-space: nowrap;
  width: auto;
}
.bio .nalssam-i7hrr4 {
  background-color: transparent;
  color: var(--sonic-silver);
  font-weight: 400;
  height: auto;
  left: 250px;
  line-height: 16.0px;
  position: absolute;
  text-align: left;
  top: 58px;
  white-space: nowrap;
  width: auto;
}
.bio .nalssam-kxhp4v {
  background-color: transparent;
  color: rgba(67,135,220,1.0);
  font-weight: 700;
  height: auto;
  left: 88px;
  line-height: 57px;
  position: absolute;
  text-align: left;
  top: 86px;
  width: auto;
}
.bio .navbar-UOcbxe {
  background-color: var(--cod-gray);
  height: 53px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.bio .stacked-group-C61RwL {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 3781px;
  width: 1440px;
}
.bio .textlabel-3pqNxu {
  background-color: transparent;
  color: var(--white);
  font-weight: 800;
  height: auto;
  left: 6px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: 63px;
}
.bio .textlabel-63crYe {
  background-color: transparent;
  color: var(--white);
  font-weight: 800;
  height: auto;
  left: 10px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: 103px;
}
.bio .textlabel-D44yGU {
  background-color: transparent;
  color: var(--sonic-silver);
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 16.0px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: auto;
}
.bio .textlabel-FuxmSR {
  background-color: transparent;
  color: var(--black);
  font-weight: 500;
  height: auto;
  left: 15px;
  line-height: 29px;
  position: absolute;
  text-align: left;
  top: 830px;
  width: auto;
}
.bio .textlabel-GE0XEQ {
  background-color: transparent;
  color: var(--black);
  font-weight: 500;
  height: auto;
  left: 13px;
  line-height: 29px;
  position: absolute;
  text-align: left;
  top: 555px;
  width: auto;
}
.bio .textlabel-RyCdLg {
  background-color: transparent;
  color: var(--black);
  font-weight: 800;
  height: auto;
  left: 53px;
  line-height: 57px;
  position: absolute;
  text-align: center;
  top: 43px;
  width: auto;
}
.bio .textlabel-ZTOnhR {
  background-color: transparent;
  color: var(--black);
  font-weight: 700;
  height: auto;
  left: 16px;
  line-height: 43px;
  position: absolute;
  text-align: left;
  top: 772px;
  white-space: nowrap;
  width: auto;
}
.bio .textlabel-kTiyrb {
  background-color: transparent;
  color: var(--black);
  font-weight: 700;
  height: auto;
  left: 12px;
  line-height: 43px;
  position: absolute;
  text-align: left;
  top: 497px;
  white-space: nowrap;
  width: auto;
}
.bio .textlabel-sdxwGy {
  background-color: transparent;
  color: var(--black);
  font-weight: 700;
  height: auto;
  left: 11px;
  line-height: 43px;
  position: absolute;
  text-align: left;
  top: 222px;
  white-space: nowrap;
  width: auto;
}
.bio .textlabel-zUixHA {
  background-color: transparent;
  color: var(--black);
  font-weight: 800;
  height: auto;
  left: 125px;
  line-height: 57px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.bio .top-word-C61RwL {
  background-color: transparent;
  height: 195px;
  left: 486px;
  position: absolute;
  top: 185px;
  width: 469px;
}
.bio .view-C61RwL {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.bio .vr-D44yGU {
  background-color: var(--tundora);
  height: 16px;
  left: 78px;
  position: absolute;
  top: 1px;
  width: 1px;
}
.bio .vr-copy-D44yGU {
  background-color: var(--tundora);
  height: 16px;
  left: 195px;
  position: absolute;
  top: 1px;
  width: 1px;
}
.bio .vr-copy-i7hrr4 {
  background-color: var(--tundora);
  height: 16px;
  left: 1022px;
  position: absolute;
  top: 57px;
  width: 1px;
}
.bio .x-RyCdLg {
  background-color: transparent;
  color: var(--black);
  font-weight: 600;
  height: auto;
  left: -1px;
  line-height: 29px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.bio .x-i7hrr4 {
  background-color: transparent;
  color: var(--sonic-silver);
  font-weight: 400;
  height: auto;
  left: 751px;
  line-height: 16.0px;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: auto;
}
.bio .x-zUixHA {
  background-color: transparent;
  color: var(--black);
  font-weight: 500;
  height: auto;
  left: 13px;
  line-height: 29px;
  position: absolute;
  text-align: left;
  top: 1140px;
  width: auto;
}
.bio .x010-29-i7hrr4 {
  background-color: transparent;
  color: var(--sonic-silver);
  font-weight: 400;
  height: auto;
  left: 250px;
  line-height: 16.0px;
  position: absolute;
  text-align: left;
  top: 92px;
  white-space: nowrap;
  width: auto;
}
.bio .x010-8402-2173-D44yGU {
  background-color: transparent;
  color: var(--sonic-silver);
  font-weight: 400;
  height: auto;
  left: 206px;
  line-height: 16.0px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.bio .x1-D44yGU {
  background-color: transparent;
  color: var(--sonic-silver);
  font-weight: 400;
  height: auto;
  left: 89px;
  line-height: 16.0px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: auto;
}
.bio .x2-C61RwL {
  background-color: transparent;
  height: 1px;
  left: 249px;
  position: absolute;
  top: 99px;
  width: 942px;
}
.bio .x2-VMr6Om {
  background-color: transparent;
  background-image: url(../img/bio-2-604AD754-BAEC-4DD4-B69C-C4F855375B49.png);
  background-size: 100% 100%;
  height: 736px;
  left: 0px;
  position: absolute;
  top: 1285px;
  width: 1440px;
}
.bio .x2021-g-slave-pro-j-zUixHA {
  background-color: transparent;
  color: var(--black);
  font-weight: 700;
  height: auto;
  left: 14px;
  line-height: 43px;
  position: absolute;
  text-align: left;
  top: 1082px;
  white-space: nowrap;
  width: auto;
}
.bio .x2021-kxhp4v {
  background-color: transparent;
  color: var(--white);
  font-weight: 700;
  height: auto;
  left: 88px;
  line-height: 57px;
  position: absolute;
  text-align: left;
  top: 143px;
  width: auto;
}
.bio .x3-C61RwL {
  background-color: transparent;
  background-image: url(../img/bio-3-C9239852-EAE4-440A-938E-E71B77F4B98B.png);
  background-size: 100% 100%;
  height: 595px;
  left: 0px;
  position: absolute;
  top: 415px;
  width: 1440px;
}
.facetimestyle {
  font-family: "SFCompact-Regular", Helvetica, Arial, serif;
  font-size: 195px;
  letter-spacing: 0.00px;
}
.google-ads--style {
  font-family: "AppleSDGothicNeo-Heavy", Helvetica, Arial, serif;
  font-size: 58px;
  letter-spacing: -3.00px;
}
.hw-little-fonts {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  font-size: 12px;
  letter-spacing: -0.12px;
}
.ji1style {
  font-family: "AppleSDGothicNeo-ExtraBold", Helvetica, Arial, serif;
  font-size: 12px;
}
.littleabout {
  font-family: "AppleSDGothicNeo-SemiBold", Helvetica, Arial, serif;
  font-size: 15px;
  letter-spacing: -0.92px;
}
.littlefonts {
  font-family: "AppleSDGothicNeo-SemiBold", Helvetica, Arial, serif;
  font-size: 16px;
  letter-spacing: 0.00px;
}
.more {
  font-family: "AppleSDGothicNeo-UltraLight", Helvetica, Arial, serif;
  font-size: 20px;
  letter-spacing: -1.00px;
}
.moreim {
  font-family: "AppleSDGothicNeo-UltraLight", Helvetica, Arial, serif;
  font-size: 20px;
  letter-spacing: -1.00px;
}
.nalssamcr48 {
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 48px;
  letter-spacing: 0.00px;
}
.nalssamlogo {
  font-family: "AppleSDGothicNeo-Heavy", Helvetica, Arial, serif;
  font-size: 14px;
  letter-spacing: 0.00px;
}
.nalssamlogoblack {
  font-family: "AppleSDGothicNeo-Heavy", Helvetica, Arial, serif;
  font-size: 16px;
  letter-spacing: 0.00px;
}
.sd12 {
  font-family: "AppleSDGothicNeo-Medium", Helvetica, Arial, serif;
  font-size: 12px;
  letter-spacing: 0.00px;
}
.sd13green {
  font-family: "AppleSDGothicNeo-Light", Helvetica, Arial, serif;
  font-size: 13px;
  letter-spacing: -0.80px;
}
.sd21green {
  font-family: "AppleSDGothicNeo-Light", Helvetica, Arial, serif;
  font-size: 21px;
  letter-spacing: 0.00px;
}
.sd25 {
  font-family: "AppleSDGothicNeo-ExtraBold", Helvetica, Arial, serif;
  font-size: 25px;
  letter-spacing: 0.00px;
}
.sd36 {
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 36px;
  letter-spacing: -2.22px;
}
.sd47blue {
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 48px;
  letter-spacing: 0.00px;
}
.sd48bold {
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 48px;
  letter-spacing: 0.00px;
}
.sd48colorfull {
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 48px;
  letter-spacing: 0.00px;
}
.sd48medium {
  font-family: "AppleSDGothicNeo-Heavy", Helvetica, Arial, serif;
  font-size: 48px;
  letter-spacing: -1.80px;
}
.sd48newcolor {
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 48px;
  letter-spacing: 0.00px;
}
.sd60 {
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 60px;
  letter-spacing: -3.48px;
}
.sdidontknow {
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 36px;
  letter-spacing: 0.00px;
}
.sdmedium24 {
  font-family: "AppleSDGothicNeo-Medium", Helvetica, Arial, serif;
  font-size: 24px;
  letter-spacing: -0.98px;
}
.sdsemi24 {
  font-family: "AppleSDGothicNeo-SemiBold", Helvetica, Arial, serif;
  font-size: 24px;
  letter-spacing: -1.48px;
}
.sdthenewenwcolor {
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 48px;
  letter-spacing: 0.00px;
}
.sdultralight {
  font-family: "AppleSDGothicNeo-UltraLight", Helvetica, Arial, serif;
  font-size: 16px;
  letter-spacing: 0.00px;
}
.sizes {
  font-family: "AppleSDGothicNeo-SemiBold", Helvetica, Arial, serif;
  font-size: 16px;
  letter-spacing: -1.10px;
}
.thebig {
  font-family: "AppleSDGothicNeo-ExtraBold", Helvetica, Arial, serif;
  font-size: 48px;
  letter-spacing: -3.60px;
}
.thebigwhite {
  font-family: "AppleSDGothicNeo-Heavy", Helvetica, Arial, serif;
  font-size: 48px;
  letter-spacing: 0.00px;
}
.theintervuew {
  font-family: "AppleSDGothicNeo-SemiBold", Helvetica, Arial, serif;
  font-size: 36px;
  letter-spacing: 0.00px;
}
.thesilk {
  font-family: "AppleSDGothicNeo-SemiBold", Helvetica, Arial, serif;
  font-size: 24px;
  letter-spacing: 0.00px;
}
:root {
  --black: rgba(0,0,0,1.0);
  --caribbean-green: rgba(11,212,128,1.0);
  --cod-gray: rgba(10,10,10,1.0);
  --eerie-black: rgba(29,29,31,1.0);
  --mine-shaft: rgba(51,51,51,0.949);
  --sonic-silver: rgba(117,117,121,1.0);
  --tundora: rgba(66,66,69,1.0);
  --tundora-2: rgba(66,66,69,0.949);
  --white: rgba(255,255,255,1.0);
}
