/* screen - developerswpage */

.bestdongari2020 {
  font-family: "KoreanBRS-B", Helvetica, Arial, serif;
  font-size: 14px;
  letter-spacing: 0.00px;
}
.blacknalssam {
  font-family: "MarkerFelt-Thin", Helvetica, Arial, serif;
  font-size: 14px;
  letter-spacing: 0.00px;
}
.datefont {
  font-family: "AppleSDGothicNeo-Thin", Helvetica, Arial, serif;
  font-size: 12px;
  letter-spacing: 6.00px;
}
.designed-by-omen-style {
  font-family: "MarkerFelt-Thin", Helvetica, Arial, serif;
  font-size: 14px;
  letter-spacing: 0.00px;
}
.developer-ceylon-style {
  font-family: "SFProText-Regular", Helvetica, Arial, serif;
  font-size: 15px;
  letter-spacing: -0.37px;
}
.developerswpage {
  background-color: var(--black);
  height: 3322px;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}
.developerswpage .background-image-7nAhv2 {
  background-color: transparent;
  height: 500px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 500px;
}
.developerswpage .background-image-LOrteM {
  background-color: transparent;
  height: 500px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 500px;
}
.developerswpage .background-image-XuZJXQ {
  background-color: transparent;
  height: 500px;
  left: 940px;
  position: absolute;
  top: 0px;
  width: 500px;
}
.developerswpage .bar-C61RwL {
  background-color: transparent;
  height: 146px;
  left: 0px;
  position: absolute;
  top: 3176px;
  width: 1440px;
}
.developerswpage .button-xRSRpX {
  background-color: rgba(0,113,227,1.0);
  height: 24px;
  left: 1050px;
  position: absolute;
  top: 14px;
  width: 123px;
}
.developerswpage .chevron-ZXviDO {
  background-color: transparent;
  height: 11px;
  left: 324px;
  opacity: 0.5;
  position: absolute;
  top: 31px;
  transform: rotate(45deg);
  width: 12px;
}
.developerswpage .design-zLnIrx {
  background-color: transparent;
  color: var(--cultured-pearl);
  font-weight: 600;
  height: auto;
  left: 98px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: 722px;
}
.developerswpage .designer-zLnIrx {
  background-color: transparent;
  color: var(--suva-gray);
  font-weight: 400;
  height: auto;
  left: 98px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 140px;
  width: auto;
}
.developerswpage .developer-ceylon-B227zD {
  background-color: transparent;
  color: var(--suva-gray);
  font-weight: 400;
  height: auto;
  left: 98px;
  line-height: 22.1px;
  position: absolute;
  text-align: left;
  top: 139px;
  white-space: nowrap;
  width: auto;
}
.developerswpage .developer-omen-0Ss1Vv {
  background-color: transparent;
  color: var(--suva-gray);
  font-weight: 400;
  height: auto;
  left: 98px;
  line-height: 22.1px;
  position: absolute;
  text-align: left;
  top: 164px;
  white-space: nowrap;
  width: 116px;
}
.developerswpage .developer-omen-UOcbxe {
  background-color: transparent;
  color: var(--suva-gray);
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 22.1px;
  position: absolute;
  text-align: left;
  top: 143px;
  white-space: nowrap;
  width: 123px;
}
.developerswpage .developer-omen-qHbjxi {
  background-color: transparent;
  color: var(--suva-gray);
  font-weight: 400;
  height: auto;
  left: 98px;
  line-height: 22.1px;
  position: absolute;
  text-align: left;
  top: 164px;
  white-space: nowrap;
  width: 127px;
}
.developerswpage .footer-enIJlq {
  background-color: var(--black);
  height: 146px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.developerswpage .group-2-C61RwL {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.developerswpage .group-ZXviDO {
  background-color: transparent;
  height: 18px;
  left: 861px;
  position: absolute;
  top: 101px;
  width: 338px;
}
.developerswpage .hr-Ij0EpA {
  background-color: var(--mine-shaft-2);
  height: 1px;
  left: 230px;
  position: absolute;
  top: 0px;
  width: 980px;
}
.developerswpage .hr-ZXviDO {
  background-color: var(--mine-shaft);
  height: 1px;
  left: 246px;
  position: absolute;
  top: 92px;
  width: 949px;
}
.developerswpage .hr-xRSRpX {
  background-color: var(--mine-shaft);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 52px;
  width: 1440px;
}
.developerswpage .icon-XxM5ex {
  background-color: transparent;
  height: 12px;
  left: 62px;
  position: absolute;
  top: 6px;
  width: 6px;
}
.developerswpage .icon-h7It44 {
  background-color: transparent;
  height: 23px;
  left: 164px;
  position: absolute;
  top: 2px;
  width: 23px;
}
.developerswpage .images-1DjvRl {
  background-color: transparent;
  height: 500px;
  left: 0px;
  position: absolute;
  top: 404px;
  width: 1440px;
}
.developerswpage .it-was-joke-C61RwL {
  background-color: transparent;
  height: 45px;
  left: 359px;
  position: absolute;
  top: 3070px;
  width: 684px;
}
.developerswpage .link-1DjvRl {
  background-color: transparent;
  height: 30px;
  left: 624px;
  position: absolute;
  top: 172px;
  width: 187px;
}
.developerswpage .link-UOcbxe {
  background-color: transparent;
  height: 26px;
  left: 0px;
  position: absolute;
  top: 171px;
  width: 68px;
}
.developerswpage .main-pd-9izie7 {
  background-color: transparent;
  color: var(--suva-gray);
  font-weight: 400;
  height: auto;
  left: 98px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 177px;
  width: auto;
}
.developerswpage .naldev-2020-snhygm {
  background-color: transparent;
  color: var(--cultured-pearl);
  font-weight: 600;
  height: auto;
  left: 98px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: 722px;
}
.developerswpage .naldev-ZXviDO {
  background-color: transparent;
  color: var(--quick-silver);
  font-weight: 400;
  height: auto;
  left: 345px;
  line-height: 16.0px;
  position: absolute;
  text-align: left;
  top: 30px;
  white-space: nowrap;
  width: auto;
}
.developerswpage .nalssam-ZXviDO {
  background-color: transparent;
  color: var(--quick-silver);
  font-weight: 400;
  height: auto;
  left: 250px;
  line-height: 16.0px;
  position: absolute;
  text-align: left;
  top: 67px;
  white-space: nowrap;
  width: auto;
}
.developerswpage .nalssam-dDNtSF {
  background-color: transparent;
  color: var(--suva-gray);
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 684px;
}
.developerswpage .nalssam-enIJlq {
  background-color: transparent;
  color: var(--white);
  font-weight: 200;
  height: auto;
  left: 250px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 31px;
  width: 59px;
}
.developerswpage .nalssam-zUixHA {
  background-color: transparent;
  color: var(--white);
  font-weight: 200;
  height: auto;
  left: 280px;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 19px;
  white-space: nowrap;
  width: auto;
}
.developerswpage .navbar-zUixHA {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.developerswpage .oval-xMsbtx {
  background-color: transparent;
  border: 1.5px solid var(--dodger-blue);
  border-radius: 23px;
  height: 23px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 23px;
}
.developerswpage .posco-ict-2020-snhygm {
  background-color: transparent;
  color: var(--cultured-pearl);
  font-weight: 400;
  height: auto;
  left: 98px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 722px;
}
.developerswpage .rectangle-0Ss1Vv {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.developerswpage .rectangle-9izie7 {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.developerswpage .rectangle-B227zD {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.developerswpage .rectangle-qHbjxi {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.developerswpage .rectangle-snhygm {
  background-color: transparent;
  height: 49px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.developerswpage .rectangle-zLnIrx {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.developerswpage .row-1-SHDHHB {
  background-color: transparent;
  height: 200px;
  margin: 0;
  position: relative;
  width: 820px;
}
.developerswpage .row-2-SHDHHB {
  background-color: transparent;
  height: 162px;
  margin: 70px 0 0 0;
  position: relative;
  width: 820px;
}
.developerswpage .row-3-SHDHHB {
  background-color: transparent;
  height: 187px;
  margin: 70px 0 0 0;
  position: relative;
  width: 820px;
}
.developerswpage .row-4-SHDHHB {
  background-color: transparent;
  height: 187px;
  margin: 70px 0 0 0;
  position: relative;
  width: 820px;
}
.developerswpage .row-5-SHDHHB {
  background-color: transparent;
  height: 163px;
  margin: 70px 0 0 0;
  position: relative;
  width: 820px;
}
.developerswpage .row-6-SHDHHB {
  background-color: transparent;
  height: 478px;
  margin: 70px 0 0 0;
  position: relative;
  width: 820px;
}
.developerswpage .section-hero-C61RwL {
  background-color: transparent;
  height: 904px;
  left: 0px;
  position: absolute;
  top: 118px;
  width: 1440px;
}
.developerswpage .span1-GOJi9i {
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span1-XuVCqA {
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span1-pSYA4J {
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span10-pSYA4J {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span11-pSYA4J {
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span12-pSYA4J {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span13-pSYA4J {
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span14-pSYA4J {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span15-pSYA4J {
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span16-pSYA4J {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span17-pSYA4J {
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span18-pSYA4J {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span19-pSYA4J {
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span2-GOJi9i {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span2-XuVCqA {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span2-pSYA4J {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span20-pSYA4J {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span21-pSYA4J {
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span22-pSYA4J {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span23-pSYA4J {
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span24-pSYA4J {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span25-pSYA4J {
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span26-pSYA4J {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span27-pSYA4J {
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span28-pSYA4J {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span29-pSYA4J {
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span3-pSYA4J {
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span30-pSYA4J {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span31-pSYA4J {
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span32-pSYA4J {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span33-pSYA4J {
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span34-pSYA4J {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span35-pSYA4J {
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span36-pSYA4J {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span37-pSYA4J {
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span38-pSYA4J {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span39-pSYA4J {
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span4-pSYA4J {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span40-pSYA4J {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span41-pSYA4J {
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span42-pSYA4J {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span43-pSYA4J {
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span44-pSYA4J {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span45-pSYA4J {
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span46-pSYA4J {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span47-pSYA4J {
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span5-pSYA4J {
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span6-pSYA4J {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span7-pSYA4J {
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span8-pSYA4J {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .span9-pSYA4J {
  letter-spacing: 0.00px;
  line-height: 22.1px;
}
.developerswpage .stacked-group-C61RwL {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 298px;
  position: absolute;
  top: 1100px;
  width: 820px;
}
.developerswpage .sw-9izie7 {
  background-color: transparent;
  color: var(--cultured-pearl);
  font-weight: 400;
  height: auto;
  left: 98px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 87px;
  width: 722px;
}
.developerswpage .textlabel-1DjvRl {
  background-color: transparent;
  color: var(--cultured-pearl);
  font-weight: 600;
  height: auto;
  left: 362px;
  line-height: 52.0px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.developerswpage .textlabel-9izie7 {
  background-color: transparent;
  color: var(--cultured-pearl);
  font-weight: 600;
  height: auto;
  left: 98px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 1px;
  width: 722px;
}
.developerswpage .textlabel-B227zD {
  background-color: transparent;
  color: var(--cultured-pearl);
  font-weight: 400;
  height: auto;
  left: 98px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 51px;
  width: 722px;
}
.developerswpage .textlabel-XxM5ex {
  background-color: transparent;
  color: var(--dodger-blue);
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: 58px;
}
.developerswpage .textlabel-gGMrEm {
  background-color: transparent;
  color: var(--white);
  font-weight: 800;
  height: auto;
  left: 10px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: 103px;
}
.developerswpage .textlabel-h7It44 {
  background-color: transparent;
  color: var(--dodger-blue);
  font-weight: 400;
  height: auto;
  left: -1px;
  line-height: 29.0px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.developerswpage .textlabel-mmDlSt {
  background-color: transparent;
  color: var(--quick-silver);
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 16.0px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: auto;
}
.developerswpage .triangle-xMsbtx {
  background-color: transparent;
  height: 10px;
  left: 8px;
  position: absolute;
  top: 7px;
  transform: rotate(90deg);
  width: 10px;
}
.developerswpage .view-C61RwL {
  background-color: transparent;
  height: 197px;
  left: 359px;
  position: absolute;
  top: 2853px;
  width: 722px;
}
.developerswpage .vr-copy-mmDlSt {
  background-color: var(--tundora);
  height: 16px;
  left: 195px;
  position: absolute;
  top: 1px;
  width: 1px;
}
.developerswpage .vr-mmDlSt {
  background-color: var(--tundora);
  height: 16px;
  left: 78px;
  position: absolute;
  top: 1px;
  width: 1px;
}
.developerswpage .x-0Ss1Vv {
  background-color: transparent;
  color: var(--cultured-pearl);
  font-weight: 400;
  height: auto;
  left: 98px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 50px;
  width: 722px;
}
.developerswpage .x-X7ihBz {
  background-color: transparent;
  color: var(--cultured-pearl);
  font-weight: 400;
  height: auto;
  left: 98px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 50px;
  width: 722px;
}
.developerswpage .x-nalssam-UOcbxe {
  background-color: transparent;
  color: var(--cultured-pearl);
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 722px;
}
.developerswpage .x-prototype-zLnIrx {
  background-color: transparent;
  color: var(--cultured-pearl);
  font-weight: 400;
  height: auto;
  left: 98px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 51px;
  width: 722px;
}
.developerswpage .x-qHbjxi {
  background-color: transparent;
  color: var(--cultured-pearl);
  font-weight: 600;
  height: auto;
  left: 98px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: 722px;
}
.developerswpage .x010-29-ZXviDO {
  background-color: transparent;
  color: var(--quick-silver);
  font-weight: 400;
  height: auto;
  left: 250px;
  line-height: 16.0px;
  position: absolute;
  text-align: left;
  top: 101px;
  white-space: nowrap;
  width: auto;
}
.developerswpage .x010-8402-2173-mmDlSt {
  background-color: transparent;
  color: var(--quick-silver);
  font-weight: 400;
  height: auto;
  left: 206px;
  line-height: 16.0px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.developerswpage .x1-mmDlSt {
  background-color: transparent;
  color: var(--quick-silver);
  font-weight: 400;
  height: auto;
  left: 89px;
  line-height: 16.0px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: auto;
}
.developerswpage .x1-on-1-developer-0Ss1Vv {
  background-color: transparent;
  color: var(--cultured-pearl);
  font-weight: 600;
  height: auto;
  left: 98px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: 722px;
}
.developerswpage .x100-experie-B227zD {
  background-color: transparent;
  color: var(--cultured-pearl);
  font-weight: 600;
  height: auto;
  left: 98px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: 722px;
}
.developerswpage .x2021-sw-1DjvRl {
  background-color: transparent;
  color: var(--white);
  font-weight: 400;
  height: auto;
  left: 394px;
  line-height: 29.0px;
  position: absolute;
  text-align: center;
  top: 71px;
  width: 650px;
}
.dongariactfuck {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  font-size: 17px;
  letter-spacing: -0.37px;
}
.hw-little-fonts {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  font-size: 12px;
  letter-spacing: -0.12px;
}
.ideaimformation {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  font-size: 17px;
  letter-spacing: -0.37px;
}
.itisdongari {
  font-family: "AppleSDGothicNeo-SemiBold", Helvetica, Arial, serif;
  font-size: 32px;
  letter-spacing: 0.13px;
}
.ji1style {
  font-family: "AppleSDGothicNeo-ExtraBold", Helvetica, Arial, serif;
  font-size: 12px;
}
.korean {
  font-family: "KoreanBRS-B", Helvetica, Arial, serif;
  font-size: 28px;
  letter-spacing: 0.00px;
}
.learn-more-style {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  font-size: 17px;
  letter-spacing: -0.37px;
}
.littlenalssammarkerfelt {
  font-family: "MarkerFelt-Wide", Helvetica, Arial, serif;
  font-size: 16px;
  letter-spacing: 0.00px;
}
.naldev-style {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  font-size: 12px;
  letter-spacing: -0.12px;
}
.naldevfront {
  font-family: "AppleSDGothicNeo-SemiBold", Helvetica, Arial, serif;
  font-size: 48px;
  letter-spacing: -0.14px;
}
.nalssam-style {
  font-family: "MarkerFelt-Thin", Helvetica, Arial, serif;
  font-size: 14px;
  letter-spacing: 0.00px;
}
.nalssam-text-logo-style {
  font-family: "MarkerFelt-Wide", Helvetica, Arial, serif;
  font-size: 36px;
  letter-spacing: 0.00px;
}
.nalssambusy {
  font-family: "KoreanBRS-B", Helvetica, Arial, serif;
  font-size: 18px;
  letter-spacing: 0.00px;
}
.nalssamlogo {
  font-family: "AppleSDGothicNeo-Thin", Helvetica, Arial, serif;
  font-size: 12px;
  letter-spacing: 0.00px;
}
.nalssamnewcrew {
  font-family: "SFProText-Regular", Helvetica, Arial, serif;
  font-size: 24px;
  letter-spacing: 0.00px;
}
.newcrewofsw {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  font-size: 21px;
  letter-spacing: 0.23px;
}
.numberfont {
  font-family: "OriyaSangamMN", Helvetica, Arial, serif;
  font-size: 14px;
  letter-spacing: 7.00px;
}
.thanks {
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 17px;
  letter-spacing: -0.37px;
}
.the-hardware-style {
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 21px;
  letter-spacing: 0.23px;
}
.watchrightnow {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  font-size: 21px;
  letter-spacing: 0.23px;
}
.youridea {
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 48px;
  letter-spacing: -0.14px;
}
:root {
  --black: rgba(0,0,0,1.0);
  --cultured-pearl: rgba(245,245,247,1.0);
  --dodger-blue: rgba(41,151,255,1.0);
  --mine-shaft: rgba(51,51,51,0.949);
  --mine-shaft-2: rgba(51,51,51,1.0);
  --quick-silver: rgba(161,161,166,1.0);
  --sonic-silver: rgba(117,117,121,1.0);
  --suva-gray: rgba(136,136,136,1.0);
  --tundora: rgba(66,66,69,1.0);
  --white: rgba(255,255,255,1.0);
}
