/* screen - maindesktop */

.bestdongari2020 {
  font-family: "KoreanBRS-B", Helvetica, Arial, serif;
  font-size: 14px;
  letter-spacing: 0.00px;
}
.datefont {
  font-family: "AppleSDGothicNeo-Thin", Helvetica, Arial, serif;
  font-size: 12px;
  letter-spacing: 6.00px;
}
.designed-by-omen-style {
  font-family: "MarkerFelt-Thin", Helvetica, Arial, serif;
  font-size: 14px;
  letter-spacing: 0.00px;
}
.developer-ceylon-style {
  font-family: "SFProText-Regular", Helvetica, Arial, serif;
  font-size: 15px;
  letter-spacing: -0.37px;
}
.dongariactfuck {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  font-size: 17px;
  letter-spacing: -0.37px;
}
.itisdongari {
  font-family: "AppleSDGothicNeo-SemiBold", Helvetica, Arial, serif;
  font-size: 32px;
  letter-spacing: 0.13px;
}
.ji1style {
  font-family: "AppleSDGothicNeo-ExtraBold", Helvetica, Arial, serif;
  font-size: 12px;
}
.korean {
  font-family: "KoreanBRS-B", Helvetica, Arial, serif;
  font-size: 28px;
  letter-spacing: 0.00px;
}
.learn-more-style {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  font-size: 17px;
  letter-spacing: -0.37px;
}
.littlenalssammarkerfelt {
  font-family: "MarkerFelt-Wide", Helvetica, Arial, serif;
  font-size: 16px;
  letter-spacing: 0.00px;
}
.maindesktop {
  background-color: var(--white);
  height: 3543px;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}
.maindesktop .bitmap-UOcbxe {
  background-color: transparent;
  background-image: url(../img/maindesktop-bitmap-5170B43D-E93A-48B1-A71A-F6B34B9ACAA7.png);
  background-size: 100% 100%;
  height: 361px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 725px;
}
.maindesktop .designed-by-omen-5l5ivn {
  background-color: transparent;
  color: var(--white);
  font-weight: 200;
  height: auto;
  left: 669px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}
.maindesktop .group-C61RwL {
  background-color: transparent;
  height: 570px;
  left: 0px;
  position: absolute;
  top: 120px;
  width: 1440px;
}
.maindesktop .icon-Dfics9 {
  background-color: transparent;
  height: 12px;
  left: 80px;
  position: absolute;
  top: 7px;
  width: 7px;
}
.maindesktop .kakao-talk-7-00-42-38-NOXmfT {
  background-color: transparent;
  background-image: url(../img/maindesktop-kakaotalkphoto2021-02-07-00-42-38-A3F27B70-A0EC-490C-B7CE-CE8C18EF5EB3.png);
  background-size: 100% 100%;
  height: 570px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 720px;
}
.maindesktop .learn-more-Dfics9 {
  background-color: transparent;
  color: var(--dodger-blue);
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 75px;
}
.maindesktop .link-Fx9rlE {
  background-color: transparent;
  height: 25px;
  left: 0px;
  position: absolute;
  top: 435px;
  width: 87px;
}
.maindesktop .mask-9Yx1Kk {
  background-color: var(--black);
  height: 360px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 720px;
}
.maindesktop .nalssam-5l5ivn {
  background-color: transparent;
  color: var(--white);
  font-weight: 700;
  height: auto;
  left: 641px;
  line-height: 42px;
  position: absolute;
  text-align: left;
  top: 49px;
  white-space: nowrap;
  width: auto;
}
.maindesktop .nalssam-Cx6Qs5 {
  background-color: transparent;
  color: var(--black);
  font-weight: 700;
  height: auto;
  left: 638px;
  line-height: 42px;
  position: absolute;
  text-align: left;
  top: 44px;
  white-space: nowrap;
  width: auto;
}
.maindesktop .nalssam-YP9PVx {
  background-color: transparent;
  color: var(--white);
  font-weight: 700;
  height: auto;
  left: 535px;
  line-height: 19px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 107px;
  white-space: nowrap;
  width: auto;
}
.maindesktop .nalssam-xHz8XV {
  background-color: transparent;
  color: var(--black);
  font-weight: 200;
  height: auto;
  left: 496px;
  line-height: 15px;
  position: absolute;
  text-align: right;
  text-decoration: underline;
  top: 3px;
  white-space: nowrap;
  width: 57px;
}
.maindesktop .photo-1520-1c9fe-copy-EsLsan {
  background-color: var(--black);
  height: 361px;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 721px;
}
.maindesktop .span1-2HcSsv {
  letter-spacing: 0.00px;
}
.maindesktop .span2-2HcSsv {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  letter-spacing: 0.00px;
}
.maindesktop .span3-2HcSsv {
  letter-spacing: 0.00px;
}
.maindesktop .span4-2HcSsv {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  letter-spacing: 0.00px;
}
.maindesktop .span5-2HcSsv {
  letter-spacing: 0.00px;
}
.maindesktop .span6-2HcSsv {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  letter-spacing: 0.00px;
}
.maindesktop .span7-2HcSsv {
  letter-spacing: 0.00px;
}
.maindesktop .span8-2HcSsv {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  letter-spacing: 0.00px;
}
.maindesktop .sw-C61RwL {
  background-color: transparent;
  height: 460px;
  left: 147px;
  position: absolute;
  top: 807px;
  width: 559px;
}
.maindesktop .sw-hw-YP9PVx {
  background-color: transparent;
  color: var(--white);
  font-weight: 400;
  height: auto;
  left: 108px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 268px;
  white-space: nowrap;
  width: 503px;
}
.maindesktop .textlabel-C61RwL {
  background-color: transparent;
  color: rgba(31,31,29,1.0);
  font-weight: 400;
  height: auto;
  left: 149px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 757px;
  white-space: nowrap;
  width: auto;
}
.maindesktop .textlabel-OFwZ3p {
  background-color: transparent;
  color: var(--white);
  font-weight: 800;
  height: auto;
  left: 56px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 9px;
  white-space: nowrap;
  width: 136px;
}
.maindesktop .textlabel-YP9PVx {
  background-color: transparent;
  color: var(--white);
  font-weight: 400;
  height: auto;
  left: 108px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 204px;
  white-space: nowrap;
  width: 503px;
}
.maindesktop .textlabel-ib14tF {
  background-color: transparent;
  color: var(--white);
  font-weight: 400;
  height: auto;
  left: 217px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 114px;
  width: 286px;
}
.maindesktop .textlabel-jDGmGP {
  background-color: transparent;
  color: var(--white);
  font-weight: 800;
  height: auto;
  left: 75px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 13px;
  white-space: nowrap;
  width: auto;
}
.maindesktop .video-C61RwL {
  background-color: transparent;
  height: 646px;
  left: 149px;
  overflow: hidden;
  position: absolute;
  top: 2638px;
  width: 1141px;
}
.maindesktop .view-1xZGOs {
  background-color: transparent;
  height: 67px;
  left: 2px;
  position: absolute;
  top: 358px;
  width: 557px;
}
.maindesktop .view-C61RwL {
  background-color: transparent;
  height: 361px;
  left: 0px;
  position: absolute;
  top: 2151px;
  width: 1440px;
}
.maindesktop .view-Fx9rlE {
  background-color: transparent;
  height: 425px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 559px;
}
.maindesktop .view-N77PsP {
  background-color: transparent;
  border: 1px solid var(--white);
  height: 42px;
  left: 237px;
  position: absolute;
  top: 195px;
  width: 249px;
}
.maindesktop .view-NOXmfT {
  background-color: transparent;
  height: 570px;
  left: 720px;
  position: absolute;
  top: 0px;
  width: 720px;
}
.maindesktop .view-U5IdvX {
  background-color: var(--black);
  height: 570px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 720px;
}
.maindesktop .view-UOcbxe {
  background-color: transparent;
  height: 361px;
  left: 719px;
  position: absolute;
  top: 0px;
  width: 721px;
}
.maindesktop .view-VMr6Om {
  background-color: var(--black);
  height: 163px;
  left: 0px;
  position: absolute;
  top: 3380px;
  width: 1440px;
}
.maindesktop .view-YP9PVx {
  background-color: transparent;
  border: 1px solid var(--white);
  height: 55px;
  left: 108px;
  position: absolute;
  top: 364px;
  width: 198px;
}
.maindesktop .view-ib14tF {
  background-color: transparent;
  height: 361px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 721px;
}
.maindesktop .view-mzXdH9 {
  background-color: var(--white);
  height: 120px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.maindesktop .viewname-K7Vdqz {
  align-items: stretch;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 425px;
  justify-content: flex-start;
  left: 0px;
  position: relative;
  top: 0px;
  width: auto;
}
.maindesktop .x1-1xZGOs {
  background-color: transparent;
  height: 345px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 559px;
}
.maindesktop .x1-MbxXpx {
  background-color: transparent;
  height: 345px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 559px;
}
.maindesktop .x2-930pjK {
  background-color: transparent;
  margin: 0;
  position: relative;
  width: 559px;
}
.maindesktop .x2020-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-weight: 400;
  height: auto;
  left: 150px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 2608px;
  white-space: nowrap;
  width: auto;
}
.maindesktop .x2020-nalssam-sw-xHz8XV {
  background-color: transparent;
  color: rgba(31,31,29,1.0);
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 29px;
  position: absolute;
  text-align: left;
  top: 36px;
  white-space: nowrap;
  width: 557px;
}
.maindesktop .x20200302-YP9PVx {
  background-color: transparent;
  color: var(--white);
  font-weight: 400;
  height: auto;
  left: 108px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 111px;
  white-space: nowrap;
  width: auto;
}
.maindesktop .x20210301-xHz8XV {
  background-color: transparent;
  color: var(--black);
  font-weight: 200;
  height: auto;
  left: 0px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 129px;
}
.naldev-style {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  font-size: 12px;
  letter-spacing: -0.12px;
}
.naldevfront {
  font-family: "AppleSDGothicNeo-SemiBold", Helvetica, Arial, serif;
  font-size: 48px;
  letter-spacing: -0.14px;
}
.nalssam-style {
  font-family: "MarkerFelt-Thin", Helvetica, Arial, serif;
  font-size: 14px;
  letter-spacing: 0.00px;
}
.nalssam-text-logo-style {
  font-family: "MarkerFelt-Wide", Helvetica, Arial, serif;
  font-size: 36px;
  letter-spacing: 0.00px;
}
.nalssambusy {
  font-family: "KoreanBRS-B", Helvetica, Arial, serif;
  font-size: 18px;
  letter-spacing: 0.00px;
}
.nalssamlogo {
  font-family: "AppleSDGothicNeo-Thin", Helvetica, Arial, serif;
  font-size: 12px;
  letter-spacing: 0.00px;
}
.nalssamnewcrew {
  font-family: "SFProText-Regular", Helvetica, Arial, serif;
  font-size: 24px;
  letter-spacing: 0.00px;
}
.newcrewofsw {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  font-size: 21px;
  letter-spacing: 0.23px;
}
.numberfont {
  font-family: "OriyaSangamMN", Helvetica, Arial, serif;
  font-size: 14px;
  letter-spacing: 7.00px;
}
.thanks {
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 17px;
  letter-spacing: -0.37px;
}
.watchrightnow {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  font-size: 21px;
  letter-spacing: 0.23px;
}
:root {
  --black: rgba(0,0,0,1.0);
  --cultured-pearl: rgba(245,245,247,1.0);
  --dodger-blue: rgba(41,151,255,1.0);
  --quick-silver: rgba(161,161,166,1.0);
  --suva-gray: rgba(136,136,136,1.0);
  --white: rgba(255,255,255,1.0);
}
