/* screen - sw */

.applesdgothicneo-extra-normal-black-25px {
  color: var(--black);
  font-family: "AppleSDGothicNeo-ExtraBold", Helvetica, Arial, serif;
  font-size: 25px;
}
.applesdgothicneo-extra-normal-black-48px {
  color: var(--black);
  font-family: "AppleSDGothicNeo-ExtraBold", Helvetica, Arial, serif;
  font-size: 48px;
}
.applesdgothicneo-heavy-normal-white-14px {
  color: var(--white);
  font-family: "AppleSDGothicNeo-Heavy", Helvetica, Arial, serif;
  font-size: 14px;
}
.applesdgothicneo-normal-black-15px {
  color: var(--black);
  font-family: "AppleSDGothicNeo-SemiBold", Helvetica, Arial, serif;
  font-size: 15px;
}
.applesdgothicneo-normal-black-16px {
  color: var(--black);
  font-family: "AppleSDGothicNeo-SemiBold", Helvetica, Arial, serif;
  font-size: 16px;
}
.applesdgothicneo-normal-black-24px {
  color: var(--black);
  font-family: "AppleSDGothicNeo-Medium", Helvetica, Arial, serif;
  font-size: 24px;
}
.applesdgothicneo-normal-black-36px {
  color: var(--black);
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 36px;
}
.applesdgothicneo-normal-caribbean-green-13px {
  color: var(--caribbean-green);
  font-family: "AppleSDGothicNeo-Light", Helvetica, Arial, serif;
  font-size: 13px;
}
.applesdgothicneo-normal-white-12px {
  color: var(--white);
  font-family: "AppleSDGothicNeo-Medium", Helvetica, Arial, serif;
  font-size: 12px;
}
.applesdgothicneo-ultra-normal-black-20px {
  color: var(--black);
  font-family: "AppleSDGothicNeo-UltraLight", Helvetica, Arial, serif;
  font-size: 20px;
}
.border-class-1 {
  border: 1px solid rgba(150,150,150,1.0);
}
.hw-little-fonts {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  font-size: 12px;
  letter-spacing: -0.12px;
}
.ji1style {
  font-family: "AppleSDGothicNeo-ExtraBold", Helvetica, Arial, serif;
  font-size: 12px;
}
.naldev-style {
  font-family: "AppleSDGothicNeo-Regular", Helvetica, Arial, serif;
  font-size: 12px;
  letter-spacing: -0.12px;
}
.sw {
  background-color: var(--white);
  height: 4585px;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}
.sw .a-stair-bplant-box-wz60dm {
  background-color: transparent;
  color: var(--lilac);
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 36px;
  font-weight: 700;
  height: auto;
  left: 525px;
  letter-spacing: 0.00px;
  line-height: 43px;
  position: absolute;
  text-align: left;
  top: 211px;
  width: auto;
}
.sw .ap-ps-zUixHA {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 18px;
  letter-spacing: -2.22px;
  line-height: 43px;
  position: absolute;
  text-align: center;
  top: 848px;
  white-space: nowrap;
  width: auto;
}
.sw .bar-C61RwL {
  background-color: transparent;
  height: 137px;
  left: 0px;
  position: absolute;
  top: 4448px;
  width: 1440px;
}
.sw .button-RyCdLg {
  background-color: var(--caribbean-green);
  height: 24px;
  left: 174px;
  position: absolute;
  top: 171px;
  width: 75px;
}
.sw .button-dIx87p {
  background-color: var(--caribbean-green);
  height: 24px;
  left: 1067px;
  position: absolute;
  top: 15px;
  width: 123px;
}
.sw .footer-enIJlq {
  background-color: var(--eerie-black);
  height: 137px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1440px;
}
.sw .group-15-C61RwL {
  background: linear-gradient(134deg, #B474FF 0%, #6B3ED0 100%);
  background-color: transparent;
  border-radius: 39px;
  height: 681px;
  left: 185px;
  position: absolute;
  top: 3677px;
  width: 1071px;
}
.sw .group-2-C61RwL {
  background-color: transparent;
  height: 1326px;
  left: 247px;
  position: absolute;
  top: 2186px;
  width: 946px;
}
.sw .group-ZXviDO {
  background-color: transparent;
  height: 18px;
  left: 861px;
  position: absolute;
  top: 92px;
  width: 338px;
}
.sw .h1-webs-h1-zUixHA {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 17px;
  letter-spacing: -2.22px;
  line-height: 43px;
  position: absolute;
  text-align: center;
  top: 1152px;
  white-space: nowrap;
  width: auto;
}
.sw .hr-Ij0EpA {
  background-color: var(--tundora-2);
  height: 1px;
  left: 247px;
  position: absolute;
  top: 39px;
  width: 947px;
}
.sw .hr-ZXviDO {
  background-color: var(--tundora-2);
  height: 1px;
  left: 247px;
  position: absolute;
  top: 83px;
  width: 947px;
}
.sw .hr-dIx87p {
  background-color: var(--mine-shaft);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 52px;
  width: 1440px;
}
.sw .img0054-C61RwL {
  background-color: transparent;
  background-image: url(../img/sw-img0054-2741BEF4-BC85-4E89-8F04-774F6777B2B5.png);
  background-size: 100% 100%;
  height: 595px;
  left: 0px;
  position: absolute;
  top: 415px;
  width: 1440px;
}
.sw .img0058-3-5l5ivn {
  background-color: transparent;
  background-image: url(../img/sw-img0058-3-7586DD55-93C5-4501-BAC4-8E157ABA641C.png);
  background-size: 100% 100%;
  height: 736px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.sw .line-5-GE0XEQ {
  background-color: transparent;
  height: 4px;
  left: 1px;
  position: absolute;
  top: 477px;
  width: 944px;
}
.sw .line-5-kTiyrb {
  background-color: transparent;
  height: 4px;
  left: 2px;
  position: absolute;
  top: 1085px;
  width: 944px;
}
.sw .line-5-sdxwGy {
  background-color: transparent;
  height: 4px;
  left: 1px;
  position: absolute;
  top: 781px;
  width: 944px;
}
.sw .line-5-zUixHA {
  background-color: transparent;
  height: 4px;
  left: 0px;
  position: absolute;
  top: 155px;
  width: 944px;
}
.sw .na-5l5ivn {
  background-color: transparent;
  color: var(--white);
  font-family: "AppleSDGothicNeo-ExtraBold", Helvetica, Arial, serif;
  font-size: 48px;
  font-weight: 800;
  height: auto;
  left: 449px;
  letter-spacing: -2.95px;
  line-height: 57px;
  position: absolute;
  text-align: center;
  top: 311px;
  width: auto;
}
.sw .nalssam-2021-wz60dm {
  background-color: transparent;
  color: var(--lilac);
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 48px;
  font-weight: 700;
  height: auto;
  left: 90px;
  letter-spacing: 0.00px;
  line-height: 57px;
  position: absolute;
  text-align: left;
  top: 86px;
  width: auto;
}
.sw .nalssam-Ij0EpA {
  background-color: transparent;
  color: var(--sonic-silver);
  font-weight: 400;
  height: auto;
  left: 1029px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 57px;
  white-space: nowrap;
  width: auto;
}
.sw .nalssam-UOcbxe {
  background-color: transparent;
  font-weight: 800;
  height: auto;
  left: 249px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: 18px;
  white-space: nowrap;
  width: auto;
}
.sw .nalssam-ZXviDO {
  background-color: transparent;
  color: var(--sonic-silver);
  font-weight: 400;
  height: auto;
  left: 250px;
  line-height: 16.0px;
  position: absolute;
  text-align: left;
  top: 58px;
  white-space: nowrap;
  width: auto;
}
.sw .nalssam-sw-RyCdLg {
  background-color: transparent;
  color: var(--black);
  font-family: "AppleSDGothicNeo-SemiBold", Helvetica, Arial, serif;
  font-size: 24px;
  font-weight: 600;
  height: auto;
  left: 37px;
  letter-spacing: -1.48px;
  line-height: 29px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.sw .navbar-UOcbxe {
  background-color: var(--cod-gray);
  height: 53px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.sw .span1-YHxm9o {

}
.sw .span1-w9XJTM {

}
.sw .span2-YHxm9o {

}
.sw .span2-w9XJTM {
  color: rgba(255,255,255,1.0);
}
.sw .sw-C61RwL {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 257px;
  letter-spacing: -0.92px;
  line-height: 19px;
  position: absolute;
  text-align: left;
  top: 67px;
  white-space: nowrap;
  width: auto;
}
.sw .textlabel-3pqNxu {
  background-color: transparent;
  color: var(--white);
  font-weight: 800;
  height: auto;
  left: 6px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: 63px;
}
.sw .textlabel-63crYe {
  background-color: transparent;
  color: var(--white);
  font-weight: 800;
  height: auto;
  left: 10px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: 103px;
}
.sw .textlabel-C61RwL {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 475px;
  letter-spacing: -0.98px;
  line-height: 19px;
  position: absolute;
  text-align: center;
  top: 1128px;
  width: auto;
}
.sw .textlabel-FuxmSR {
  background-color: transparent;
  font-weight: 500;
  height: auto;
  left: 19px;
  letter-spacing: -0.98px;
  line-height: 29px;
  position: absolute;
  text-align: left;
  top: 906px;
  width: auto;
}
.sw .textlabel-GE0XEQ {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 12px;
  letter-spacing: -2.22px;
  line-height: 43px;
  position: absolute;
  text-align: center;
  top: 544px;
  white-space: nowrap;
  width: auto;
}
.sw .textlabel-ZTOnhR {
  background-color: transparent;
  font-weight: 500;
  height: auto;
  left: 16px;
  letter-spacing: -0.98px;
  line-height: 29px;
  position: absolute;
  text-align: left;
  top: 602px;
  width: auto;
}
.sw .textlabel-kTiyrb {
  background-color: transparent;
  font-weight: 500;
  height: auto;
  left: 13px;
  letter-spacing: -0.98px;
  line-height: 29px;
  position: absolute;
  text-align: left;
  top: 280px;
  width: auto;
}
.sw .textlabel-l9TSxs {
  background-color: transparent;
  font-weight: 500;
  height: auto;
  left: 19px;
  letter-spacing: -0.98px;
  line-height: 29px;
  position: absolute;
  text-align: left;
  top: 1210px;
  width: auto;
}
.sw .textlabel-mmDlSt {
  background-color: transparent;
  color: var(--sonic-silver);
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 16.0px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: auto;
}
.sw .textlabel-sdxwGy {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 12px;
  letter-spacing: -2.22px;
  line-height: 43px;
  position: absolute;
  text-align: center;
  top: 222px;
  white-space: nowrap;
  width: auto;
}
.sw .textlabel-zUixHA {
  background-color: transparent;
  color: var(--black);
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 48px;
  font-weight: 700;
  height: auto;
  left: 119px;
  letter-spacing: -2.95px;
  line-height: 57px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.sw .top-word-C61RwL {
  background-color: transparent;
  height: 195px;
  left: 508px;
  position: absolute;
  top: 185px;
  width: 424px;
}
.sw .view-C61RwL {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.sw .view-VMr6Om {
  background-color: transparent;
  height: 736px;
  left: 1px;
  position: absolute;
  top: 1285px;
  width: 1440px;
}
.sw .vr-copy-ZXviDO {
  background-color: var(--tundora);
  height: 16px;
  left: 1022px;
  position: absolute;
  top: 57px;
  width: 1px;
}
.sw .vr-copy-mmDlSt {
  background-color: var(--tundora);
  height: 16px;
  left: 195px;
  position: absolute;
  top: 1px;
  width: 1px;
}
.sw .vr-mmDlSt {
  background-color: var(--tundora);
  height: 16px;
  left: 78px;
  position: absolute;
  top: 1px;
  width: 1px;
}
.sw .x-RyCdLg {
  background-color: transparent;
  font-weight: 800;
  height: auto;
  left: -1px;
  letter-spacing: -2.95px;
  line-height: 57px;
  position: absolute;
  text-align: center;
  top: 43px;
  width: auto;
}
.sw .x-ZXviDO {
  background-color: transparent;
  color: var(--sonic-silver);
  font-weight: 400;
  height: auto;
  left: 751px;
  line-height: 16.0px;
  position: absolute;
  text-align: left;
  top: 56px;
  white-space: nowrap;
  width: auto;
}
.sw .x010-29-ZXviDO {
  background-color: transparent;
  color: var(--sonic-silver);
  font-weight: 400;
  height: auto;
  left: 250px;
  line-height: 16.0px;
  position: absolute;
  text-align: left;
  top: 92px;
  white-space: nowrap;
  width: auto;
}
.sw .x010-8402-2173-mmDlSt {
  background-color: transparent;
  color: var(--sonic-silver);
  font-weight: 400;
  height: auto;
  left: 206px;
  line-height: 16.0px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.sw .x1-mmDlSt {
  background-color: transparent;
  color: var(--sonic-silver);
  font-weight: 400;
  height: auto;
  left: 89px;
  line-height: 16.0px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: auto;
}
.sw .x2-C61RwL {
  background-color: transparent;
  height: 1px;
  left: 249px;
  position: absolute;
  top: 99px;
  width: 942px;
}
:root {
  --black: rgba(0,0,0,1.0);
  --caribbean-green: rgba(11,212,128,1.0);
  --cod-gray: rgba(10,10,10,1.0);
  --eerie-black: rgba(29,29,31,1.0);
  --lilac: rgba(188,142,245,1.0);
  --mine-shaft: rgba(51,51,51,0.949);
  --sonic-silver: rgba(117,117,121,1.0);
  --tundora: rgba(66,66,69,1.0);
  --tundora-2: rgba(66,66,69,0.949);
  --white: rgba(255,255,255,1.0);
}
